$primary-color: #c65327;
$secondary-color: #ec783d;
$success-color: #0f4a3b;
$danger-color: #d2232a;
$warning-color: #4d302c;
$info-color: #2596be;
$light-color: #f7f7f7;
$dark-color: #3b3b3b;

$sizes: (
  25: 25%,
  33: 33.333%,
  50: 50%,
  66: 66.666%,
  75: 75%,
  88: 88%,
  100: 100%,
  auto: auto,
);

@use "../node_modules/bootstrap/scss/bootstrap" as * with (
  $primary: $primary-color,
  $secondary: $secondary-color,
  $success: $success-color,
  $danger: $danger-color,
  $warning: $warning-color,
  $info: $info-color,
  $light: $light-color,
  $dark: $dark-color,
  $theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "success": $success-color,
    "danger": $danger-color,
    "warning": $warning-color,
    "info": $info-color,
    "light": $light-color,
    "dark": $dark-color,
  )
);

@each $size, $value in $sizes {
  .w-#{$size} {
    width: $value !important;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {

    @each $display, $value in $display-font-sizes {
      .display-#{$breakpoint}-#{$display} {
        font-size: $value !important;
        font-weight: $display-font-weight;
        line-height: $display-line-height;
      }
    }

    @each $size, $value in $font-sizes {
      .fs-#{$breakpoint}-#{$size} {
        font-size: $value !important;
      }
    }

    .text-#{$breakpoint}-wrap {
      white-space: normal !important;
    }
    .text-#{$breakpoint}-nowrap {
      white-space: nowrap !important;
    }
    .text-#{$breakpoint}-truncate {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
    }

    @each $size, $value in $sizes {
      .w-#{$breakpoint}-#{$size} {
        width: $value !important;
      }
    }
  }
}

p, h5 {
    margin: 0;
}

.btn:hover {
    background-color: $secondary-color;
    color: $light-color;
    border-radius: 5px;
}

.logo {
    width: 50vw;
    min-width: 50px;
    height: auto;
}